@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Montserrat:ital,wght@0,300;0,400;1,300&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Poppins:wght@400;600;700&family=Roboto:wght@300&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Baloo da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
}

:root{
    --cor-titulo: #292524;
    --cor-subtitulo: #57534E;
    --cor-texto: #78716C;
    --cor-button1: #272727;
    --cor-button2:#A8A29E;
    --cor-button3:#A8A29E;
    --cor-desktop: #F3F5FC;
    --cor-output:#FFFFFF;
    --cor-detalhe:#008000;
    --cor-borda:#A8A29E;
    --cor-borda2:#44403C;
    --cor-rodape:#272727;
    --cor-sociallist:#a7a7a7;
}

body{
    background: var(--cor-desktop);
    min-height: 100vh;
    min-width: 100vw;
}

.main-container{
    padding: 0.5rem 1rem;
}

.main-container .header img{
    max-width: 65rem;
    max-height: 65rem;
    width: auto;
    height: auto;
    width: 120px;
    height: 48px;
}
.header{

    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin-bottom: 10px;
}

.header h1{
    color: var(--cor-titulo);
    font-family: var(--font-primary);
    font-size: 1.9rem;
    margin-right: 4%;
}


.input-container{
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 12%;
}

.input-container .input{
    width: 60rem;
    height: 55rem;
}

#input-text{
    width: 345px;
    height: 330px;
    font-size: 1.3rem;
    color: var(--cor-titulo);
    background: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
    padding: 1rem;
    text-transform: uppercase;
}

.input-container p{
    display: flex;
    font-family: var(--font-secundary);
    color: var(--cor-subtitulo);
    padding: 2% 0 0 5%;
    margin-top: 20rem;
    width: auto;
    height: auto;
}

#output-saida{
    display: flex;
    flex-direction: column;
    border: 0.1rem solid var(--cor-borda2);
    border-radius: 1.5rem;
    width: 25rem;
    height: 43rem;
    margin-right: 3%;
    padding-top: 10rem;
    background: var(--cor-output);
}

#output-saida h2{
    text-align: center;
    font-size: 1.5rem;
    color: var(--cor-titulo);
    font-family: var(--font-primary)
}

#output-saida span{
    font-size: 1.1rem;
    text-align: center;
    font-family: var(--font-secundary);
    color: var(--cor-subtitulo);
}

#output-saida img{
    max-width: 310px;
    max-width: 310px;
    width: auto;
    height: auto;
    margin-top: 5%;
}

.btn-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

.button-criptografar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: var(--cor-button1);
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.button-criptografar p{
    width: 280px;
    height: 19px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--cor-output);
    flex: none;
    order: 0;
    flex-grow: 1;
}

.button-descriptografar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    border: 1px solid var(--cor-borda2);
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.button-descriptografar p{
    width: 280px;
    height: 19px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--cor-titulo);
    flex: none;
    order: 0;
    flex-grow: 1;
}

/* Botão copiar só irá aparecer quando a menssagem for códificada */
.button-copiar{
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    margin-left: 7.5%;
    margin-bottom: 14.5%;
    margin-top: auto;
    border: 1px solid var(--cor-borda2);
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-align: center;
    cursor: pointer;
}

.button-copiar p{
    width: 280px;
    height: 19px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--cor-titulo);
    flex: none;
    order: 0;
    flex-grow: 1;
}

.button-criptografar:hover {
    border: 1px solid var(--cor-detalhe);
    transition: 0.4s all;
}

.button-descriptografar:hover{
    border: 1px solid var(--cor-detalhe);
    transition: 0.4s all;
}

.button-copiar:hover{
    border: 1px solid var(--cor-detalhe);
    transition: 0.4s all;
}

footer{
    display: flex;
    width: 100;
    height: 8rem;
    background-color: var(--cor-rodape);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p{
    font-family: var(--font-secundary);
    color: var(--cor-sociallist);
    font-size: 1.2rem;
}

.social-list a{
    margin: 0 2rem;
    color: var(--cor-sociallist);
    font-size: 1.3rem;
}

.social-list ul{
    display: flex;
}

@media only screen and (max-width: 900px){
    .header{
        display: flex;
        justify-content: left;
        padding: 6%;
        font-size: 1.9rem;
    }
    .main-container .header img{
        width: 4rem;
        height: 2rem;
    }
    .header h1{
        font-size: 1.5rem;
    }
    .input-container .input{
        width: 25rem;
        height: 15rem;
    }
    .input-container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 2% 0 0 12%;
        align-items:  baseline;
    }
    #input-text{
        width: 15rem;
        height: 10rem;
        font-size: 0.9rem;
    }
    #output-saida{
        width: 16rem;
        height: 22rem;
        margin: revert;
        margin-top: -3rem;
    }
    #output-saida img{
        width: 10rem;
        height: 8rem;
       margin-inline: auto;
    }
    #output-saida h2{
        font-size: 1rem;
    }
    #output-saida span{
        font-size: 0.9rem;
    }
    .input-container p{
        width: 18rem;
        height: 0.7rem;
        margin-left: 80%;
        font-family: var(--font-secundary);
        font-size: 0.9rem;
        color: var(--cor-subtitulo);
    }
    .btn-container{
        width: 25rem;
        height: auto;
        margin-left: 20%;
        justify-content: end;
        margin-top: -12rem;
        display: block;
    }
    .btn-container button{
        width: 13rem;
        height: 2rem;
        margin-left: 10%;
        margin-top: 5%;
        font-family: var(--font-primary);
        cursor: pointer;
    }
    .button-criptografar p{
        font-family: var(--font-primary);
        color: var(--cor-output);
        margin-left: -3.5rem;
        font-size: 0.8rem;
        margin-top: -0.5rem;
    }
    .button-descriptografar p{
        color: var(--cor-titulo);
        margin-left: -3.5rem;
        font-size: 0.8rem;
        margin-top: -0.5rem;
        font-family: var(--font-primary);
    }
    #copiar.button-copiar {
        width: 13rem;
        height: 2rem;
        margin-top: auto;
        color: var(--cor-titulo);
        font-size: 0.8rem;
        font-family: var(--font-primary);
        line-height: 10px;
    }
    }
    #copiar.button-copiar p{
        font-size: 1rem;
    }
    .footer-content p{
        font-family: var(--font-secundary);
        color: var(--cor-sociallist);
        font-size: 1rem;
        text-align: center;
        margin-left: -8rem;
    }
    
    .social-list a{
        margin: 0 2rem;
        color: var(--cor-sociallist);
        font-size: 0.9rem;
    }
    
    .social-list ul{
        display: flex;
    }
    .social-list{
        margin-right: -6rem;
    }
